<nav>
    <p>Reservando<span>UrbTask</span></p>
    <ul>
        <li><a href='/calendar'>calendario</a></li>
        <li><a href='/setdates'>fijar fechas</a></li>
        <li>
            <ul>
                <li><a href='/signup/logout' class='signout'>salir</a></li>
                <li><a href='/login/configure'>configurar</a></li>
            </ul>
        </li>
    </ul>
</nav>