<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
   <nav>
        <p>Reservando<span>UrbTask</span></p>
        <ul>
            <li><a href='/calendar'>calendario</a></li>
            <li><a href='/setdates'>fijar fechas</a></li>
            <li><a href='/signup/logout' class='signout'>salir</a></li>
            <li><a href='/login/configure'>configurar</a></li>
        </ul>
    </nav>
    
    <main>
        <h1>Configure your Email and Calendar</h1>  

        <p>MS Exchange Calendar</p>
        <form class="login-form" action="../login/configure" method="POST">
            <input type="text" name='email' placeholder="email">
            <input type="text" name='password' placeholder="password">
            <input type="submit">
        </form>
    </main>
    
</body>
</html>