@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background-color: #faf3ea;
  color: #2a2f2c;
}
nav {
  padding: 1em;
}

.button {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 0.5rem 1.5rem;
}

main {
  min-width: 30%;
}

/******************************************
/* BASE STYLES
/*******************************************/

.calendarContainer {
  margin: 2rem;
}
h1.calendarTitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: transparent;
}
.calendarHeader {
  text-align: center;
}
.calendarBody {
  display: flex;
}
section.monthDays ul li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
  display: inline;
  margin-right: 0.5rem;
  color: darkgray;
}
section.monthDays {
  overflow: auto;
  white-space: nowrap;
}
section.monthDays a,
section.monthNames a {
  text-decoration: none;
  color: darkgray;
}
section.monthDays .active a,
section.monthNames .active a {
  font-weight: bold;
  font-size: medium;
  color: black;
}
section.monthNames ul li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
  color: darkgray;
  flex-grow: 1;
  margin-right: 3rem;
}
section.individualDateContainer {
  display: flex;
  padding: 0;
  border: 1.5px solid black;
  text-align: center;
  margin-bottom: 1rem;
}
section.weekDayContainer {
  border-right: 1.5px solid black;
  flex-basis: 15%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
section.weekDayContainer p {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
section.weekDayContainer p + p {
  border: 0;
  margin-top: 1rem;
}
.dateContainer {
  flex-grow: 2;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.setDateContainer {
  margin: 2rem;
}
.setDateContainer section {
  margin: 2rem;
}

.longTextInput {
  width: 100%;
}
.shortTextInput {
  width: 30%;
}

.setDateContainer h2 {
  font-variant: small-caps;
  font-size: 1.3rem;
}

.setDateContainer fieldset {
  max-width: 30rem;
}
.setDateContainer fieldset h3 {
  border-bottom: 1px solid lightgrey;
}
.setDateContainer fieldset.subFields {
  margin: 2rem;
  padding: 2rem 1rem;
  border: 0.3rem solid black;
  border-radius: 5px;
}

.setDateContainer label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
.setDateContainer input {
  margin-bottom: 1rem;
}
.setDateContainer input[type="button"],
.setDateContainer input[type="submit"] {
  margin: 1rem 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.setDateContainer input[type="button"] {
  background-color: #29a3df;
  color: white;
  font-weight: bold;
}
.setDateContainer input[type="submit"] {
  background-color: #54c351;
  color: white;
  font-weight: bold;
}
.setDateContainer input[type="text"],
.setDateContainer input[type="date"],
.setDateContainer input[type="datetime-local"],
.setDateContainer select {
  border: 0;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px 5px;
}
.setDateContainer input.addDate {
  display: block;
  margin: 1rem 0;
}

#timeSlots {
  list-style: none;
  padding: 0;
}

/*-------------------------------------*/
/*-----------------dates---------------*/
/*-------------------------------------*/
ul {
  list-style: none;
  padding: 0;
}

.dayContainer,
.timeSlots,
.monthContainer {
  border: 1px solid black;
}

.monthContainer {
  text-align: center;
  width: 60%;
  margin: 1rem auto;
}

.timeSlots {
  margin: 0.3em;
  padding: 0.2em;
}

.dayContainer {
  display: inline-block;
  margin: 0.4em;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 0.5em 0.5em;
}
th {
  /* text-transform: uppercase; */
  text-align: left;
}

/******************************************
/* Signin Page
/*******************************************/

.signin {
  margin: 1em auto;
  width: 50%;
}

.logon {
  border: 5px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.login-form {
  padding: 2rem;
}
.login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login-form div label {
  padding-left: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
}
.login-form div .supplimentalLink {
  text-align: right;
  padding-right: 0.8rem;
}

.signin input {
  display: block;
  height: 2.5em;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  margin: 0.4rem;
}
.signin section {
  text-align: center;
}
.signin h1 {
  background-color: transparent;
}
.signin input[type="submit"] {
  width: 100%;
}

.supplimentalLink,
.signup {
  text-decoration: none;
  font-size: 0.8rem;
}

/*-------------------------------------*/
/*----------  Time Slots  -------------*/
/*-------------------------------------*/

.dateSliderContainer {
  text-align: center;
}
.dateSliderContainer h2 {
  margin-bottom: 10px;
  margin-top: 2rem;
  color: #808c9c;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
}

.dateSlider {
  margin-top: 0;
  margin-bottom: 2rem;
}
.dateSlider li p {
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
}
.dateSlider li p + p {
  color: #808c9c;
  font-size: small;
  margin-top: 1px;
  margin-bottom: 1.5rem;
}
.dateSlider li.selected {
  border-bottom: 8px solid coral;
}
.dateSlider {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.timesGrid {
  padding: 0 2rem;
}
/* .timesGrid button {
  float: right;
} */
.timesGrid fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border: 0;
}

.timeslots {
  color: #808c9c;
  width: fit-content;
  padding: 0.9rem 1.2rem;
  border-radius: 5px;
  border: 2px solid #d9d9d9;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.timeslots input[type="radio"] {
  margin-right: 5px;
  width: 1.4em;
}
.timeslots:has(> input[type="radio"]:checked) {
  background-color: #0069d9;
  color: white;
  border: 2px solid transparent;
}
.timeslots:has(> input[type="radio"][disabled]) {
  background-color: #e6e6e6;
  border: 2px solid transparent;
  text-decoration: line-through;
}

.reset-a,
.reset-a:hover,
.reset-a:visited,
.reset-a:focus,
.reset-a:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.appointmentInformation {
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  border-top: 1px solid #332925;
  background-color: #ffc366;
  border-radius: 0 0 18px 18px;
}
.appointmentInformation p {
  margin: 0.5em;
}

/* ------------------------------ */
/* Booking Page Styles */
/* ------------------------------ */
.bookDate {
  margin: 1em auto;
  width: 50%;
  border: 2px solid #332925;
  border-radius: 20px;
}

.bookHeaderContainer {
  padding: 1rem 2rem;
  background-color: #add5b8;
  border-bottom: 1px solid #332925;
  border-radius: 18px 18px 0 0;
}

.header {
  text-align: center;
  background-color: #add5b8;
  border-bottom: 1px solid #332925;
  border-radius: 18px 18px 0 0;
  padding: 0.5rem;
}
.header h1 {
  line-height: 1.8rem;
  color: #2a2f2c;
}
.header h2 {
  font-weight: normal;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fefaf0;
  border-radius: 0 0 18px 18px;
}
.body i {
  font-size: 3rem;
  /* color: #ffc366; */
}
.body p.topic {
  margin: 0;
  padding: 1.2rem;
  font-weight: bold;
}
.body button {
  padding: 0.8rem 1.5rem;
  background-color: #ffc366;
  border: 1px solid #332925;
  border-radius: 10px;
  color: #332925;
  font-weight: bold;
}

.dateContainer {
  font-size: larger;
}
.dateContainer p {
  margin: 0;
}

/* ----------------------------------------- */
/* Menu Styles */
/* ----------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav ul a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav p {
  text-transform: uppercase;
  font-weight: bold;
}
